<table>
  <tr>
    <td>
      <p class="lede">
        You received a contact message with the following details:
      </p>
      <p>
        <%= "First Name: #{@fname}" %>
      </p>
      <p>
        <%= "Last Name: #{@lname}" %>
      </p>
      <p>
        <%= "Email: #{@email}" %>
      </p>
      <p>
        <%= "Subject: #{@subject}" %>
      </p>
      <p>
        <%= "Message: #{@message}" %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
