<% self.title = "Natty : #{@store.name} : Inventory" %>
<% content_for :dashboard do %>
  <%= render 'spree/shared/error_messages', target: @product %>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center m-t-lg">
          <h2>Inventory</h2>
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>Edit count for <%= "#{@variant.product.name} (#{@variant.sku})" %></h5>
                  <div class="ibox-tools">
                    <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content">
                  <!-- <div class="row"> -->
                    <%= form_for [:supplier, @store, @stock], html: {multipart: true, role: 'form', class: 'form-horizontal inventory_form'} do |f| %>
                      <div class="form-group">
                        <%= f.label :count_on_hand, 'Count *', class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                        <%= f.number_field :count_on_hand, required: true, class: 'form-control' %>
                      </div>
                        <%= f.error_message_on :count_on_hand %>
                      </div>
                      <div class="form-group">
                      <button class="btn btn-sm btn-primary pull-right right-buttonm m-t-n-xs" type="submit"><strong>Update</strong></button>
                    </div>
                    <% end %>

                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Current Inventory</h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content">
                <table class="table table-striped table-bordered table-hover table-dynamic">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>SKU</th>
                      <th>Count</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @variants.each do |variant| %>
                      <tr>
                        <td><%= variant.product.name %></td>
                        <td><%= variant.sku.split('-', 2)[1] %></td>
                        <td><%= variant.stock_items.first.count_on_hand %></td>
                        <td><%= link_to fa_icon('edit'), edit_supplier_store_stock_item_path(@store, variant) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "spree/supplier/layouts/dashboard" %>
