<div class="address vcard">
  <div><%= address.full_name %></div>
  <div class="adr">
    <div class="street-address">
      <div class="street-address-line">
        <%= address.address1 %>
      </div>
      <% unless address.address2.blank? %>
        <div class="street-address-line">
          <%= address.address2 %>
        </div>
      <% end %>
    </div>
    <div class="local">
      <span class="locality"><%= address.city %></span>,
      <span class="region"><%= address.state.name %></span>
    </div>
    <div class="nation">
      <span class="postal-code"><%= address.zipcode %></span>,
      <span class="country-name"><%= address.country.try(:name) %></span>
    </div>
  </div>
  <% if defined? email %>
    <div class="email"><%= email %></div>
  <% end %>
  <% unless address.phone.blank? %>
    <div class="tel"><%= address.phone %></div>
  <% end %>
  <% unless address.alternative_phone.blank? %>
    <div class="alternative-phone tel">
      <span class="type"><%= Spree.t(:alternative_phone) %></span>
      <%= address.alternative_phone %>
    </div>
  <% end %>
</div>
